// Colors
$color-white:  #eff0ea;
$color-green:  #1bf07b;
$color-gray:   #686767;
$color-orange: #ff9f43;
$color-yellow: #f3f99c;

$text-color: $color-white;
$background-color: #272935;
$border-color: #666;