.page-content {
	margin: auto;

	.wrapper {
		border: 1px solid $border-color;
		border-radius: 6px;
		padding: 6px 3px;
		box-shadow: 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
		min-width: 600px;
		min-height: 250px;
		font-family: $code-font-family;
	}
}

.color-84 { color: $color-84; }
.color-90 { color: $color-90; }
.color-215 { color: $color-215; }
.color-229 { color: $color-229; }